







<!DOCTYPE html>
<html>
  <head>
    <title> MalagaSport </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div><%= flash[:warning] %></div>
 
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">
  <!--Replace with your tailwind.css once created-->

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">

  <!-- Define your gradient here - use online tools to find a gradient matching your branding-->

</head>
<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
      <div>
      <p ><%= link_to "Home", root_path , class: 'inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0'%></p>
    </div>
 <% if user_signed_in? %>
 <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

      <%= link_to "Profil", user_path(current_user.id), class: 'block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white' %>
    </div>
  </div>
      <div class="text-sm lg:flex-grow">
        <%= link_to "Liste des clubs", clubs_path , class: 'block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4' %>         
        <%= link_to "Liste des recrutements", recrutements_path , class: 'block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4'%>
    </div>

  <% else %>
    </div>
        <div>
      <%= link_to "Se connecter", new_user_session_path, class: 'inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0' %>
    </div>
    <div>
     <%= link_to "S'inscrire", new_user_registration_path, class: 'inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0' %>
    </div>
  </div>
</nav>
<% end %>
  <%= yield %>
  </body>
</html>
